.container {
    border: 1px solid red;
}

.container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.container ul li {
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
}
