.root {
    width: 100%;
    border: 1px solid red;
}

.root input {
    min-width: 320px;
    height: 32px;
    background: #F6F6F8;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.45);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 0 10px;
    line-height: 24px;
}

